[2017-06-23 09:47] subhans3tech opened #2 "access token issue"
"Error Domain=MSALErrorDomain Code=-42105 "(null)" UserInfo={MSALErrorDescriptionKey=Token response is missing the access token"This is the error when i run the code with my credentials .Could you please tell me where is the actual problem.in configuration of AAD b2c or in code side .
Regards,
Subhan Fazal
@brandwe

[2017-07-13 19:36] brandwe commented on #2
@subhans3tech This feels like server side issue. I'm not aware of any flows where you don't get an access token. If you're still having the issue email me directly and we'll take a look. brandwe@microsoft.com

[2017-07-13 21:11] parakhj commented on #2
@subhans3tech Are you getting an id token?

[2017-07-14 10:38] subhans3tech commented on #2
![access token scope](https://user-images.githubusercontent.com/19686311/28208978-e53889d0-68a9-11e7-9c96-ae53ddbd8d78.png)
this is the scope we set in b2b directory .and in code write the following line
["https:myb2ciosapp.onmicrosoft.com/openid"]

[2017-07-14 17:34] parakhj commented on #2
@subhans3tech you need to first [set up a web api](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-app-registration#register-a-web-api), and set up your published scopes (step 9 in that article). Then you need to [grant the scopes](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens#granting-permissions-to-a-web-api) to yo

[2017-07-17 11:04] subhans3tech commented on #2
@parakhj  i have  done all these steps before posting the question could please share some screen shots with me or  i can mail you screen shots of my configurations?

[2017-07-17 12:31] nitisha1 commented on #2
@subhans3tech  - I'm facing the same issue.Did you solved it?

[2017-07-17 13:10] subhans3tech commented on #2
https://mytestapiios.azurewebsites.net/hello#id_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ilg1ZVhrNHh5b2pORnVtMWtsMll0djhkbE5QNC1jNTdkTzZRR1RWQndhTmsifQ.eyJleHAiOjE1MDAzMDA1MDAsIm5iZiI6MTUwMDI5NjkwMCwidmVyIjoiMS4wIiwiaXNzIjoiaHR0cHM6Ly9sb2dpbi5taWNyb3NvZnRvbmxpbmUuY29tL3RmcC9jNzgzMmI1Ni0yYzUyLTQ4YzktYjljNy01OWZlNWRmNjIyOWQvYjJjXzFfYm90c2lnbmluL3YyLjAvIiwic3ViIjoiMzY2NGI3ZWQtMTE3Mi00YzFiLTh

[2017-07-17 13:11] subhans3tech commented on #2
@nitisha1  I am still working on that

[2017-07-24 07:03] parakhj commented on #2
@subhans3tech sorry for the late reply. Could you paste the "Run now endpoint" link (just hit the copy button).

Before you copy it - make sure you select "appapi" as the resource and select the three resources.

Just to confirm your scenario:

You are trying to sign into the app "App" and as part of signing in, you want an access token to the web api "Appapi". Is that correct? If so, could you se

[2017-07-24 08:34] subhans3tech commented on #2
this is the url for appapi
 (run now button)https://login.microsoftonline.com/myb2ciosapp.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_botsignin&client_id=70651a06-e952-4812-af05-3160562e3dd6&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fmytestapiios.azurewebsites.net%2Fhello&scope=openid&response_type=id_token&prompt=login
![image](https://user-images.githubusercontent.com/19686311/28514735-8ddb

[2017-08-10 10:37] nitisha1 opened #3 "Edit profile Policy ask for login"
Hi,
i've successfully login and getting accesstoken but when i tap on edit profile it first ask for login and after login it goes to edit profile
Login -> Get Access Token - > Edit Profile -> Again ask for Login (which is not supposed to , i can login from another user and edit the profile of that user)
i debugged the the code , for edit profile it gets user by policy and i'm getting 2 user someti

[2017-08-10 20:44] parakhj commented on #3
We are working to resolve the issue, but as a workaround, you can replace the application.acquireToken() function inside editProfile() in VIewController.swift with

`application.acquireToken(forScopes: kScopes, user:thisUser, uiBehavior: MSALUIBehavior.MSALForceConsent, extraQueryParameters:nil)`

This will send prompt=consent instead of prompt=select_account in the request URL.

[2017-08-11 06:14] nitisha1 commented on #3
@parakhj - Thanks. i've replace acquireToken call with above change and its working for now.

[2017-08-11 15:39] parakhj commented on #3
@nitisha1 i apologize for providing an incorrect workaround. We may end up using prompt=consent for another reason in the future, and this will break your app when the service updates. Let me get back to you with a better workaround.

[2017-09-04 13:16] Techmorphian commented on #2
I want to use the scope for Mobile application, so how can i add the scope for a mobile application?

[2017-09-18 04:59] parakhj commented on #2
You'll have to grant the native app permissions to your API's scopes. Check out the instructions [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens#granting-permissions-to-a-web-api)

[2017-10-10 15:08] kquinn1 opened #5 "Deep Linking on Policy Page removed"
Our Azure B2C SignupOrSignin policy pages rendered with MSAL currently removes the href's of mobile deep links, redirect uri's in the form of appName://path, that redirect back to our mobile application. We need this functionality for our mobile application.

We contacted Microsoft about this issue and the response was that we needed a custom domain in order to point to non absolute urls on our po

[2017-10-11 00:01] parakhj commented on #5
Could you send a snippet of the html code that includes the href? Just to be clear, you have a custom UI that includes a link that takes you back to the app. Is that correct?

If you are using Javascript, then it won't work because Azure AD B2C strips out javascript before showing the UI (for security reasons). If you are looking to add javascript into your UI, please vote for this [feature](https

[2017-10-23 14:46] ihoro commented on #2
I've got this working after I added API as an application, and then allowed native application to access this API with default user_impersonation scope.

[2018-03-05 04:45] sharonSilicus commented on #3
@parakhj Any updates on the fix ? or a better workaround?

[2018-03-05 20:37] parakhj commented on #3
Unfortunately not :( The best workaround is to store the idp claim (the claim that determines how the user signed in) and based on the claim, you can pass the proper domain_hint parameter. For example, if the idp claim is facebook.com, then during the edit profile call, you can add domain_hint=facebook.com in the request. The other option is to edit the profile by calling the Graph API (so basical

[2018-04-12 08:10] sunny131984 opened #6 "Getting error while work with xcode 9.3"
HI ,

We are trying to integrate the MSAL library with our project but in Xcode 9.3 we are getting lots of error due to syntax changes.  Please update the existing repository so anyone can use it with latest. i will try to figure out from my side.

Thanks ,

[2018-04-23 18:16] jonnyleigh opened #7 "Build fails on XCode 9.3"
Build is failing on my environment.

[code]

In that log file I find this:
[code]

Full log file: (https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/files/1939494/carthage-xcodebuild.vFCjs4.log)

Thanks.

[2018-04-25 13:49] wstierhout commented on #7
+1

[2018-04-25 17:55] parakhj commented on #7
Seems like an issue with the MSAL library. https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/269

[2018-04-28 06:54] jonnyleigh commented on #7
Ok, I managed to get the MSAL library to build by editing the Cartfile to point to the **master** branch rather than the **dev** branch.

Contents of Cartfile:
`github "AzureAD/microsoft-authentication-library-for-objc" "master"`

I'll leave this here in case it's useful for someone else and also as an open bug as the instructions for this sample say to use the Dev branch.  Someone at Microsoft sh

[2018-06-11 12:26] sathishTkumar opened #8 "Sample Project - MSALiOSB2C is not working"
Hi Author,
I downloaded the active-directory-b2c-ios-swift-native-msal as zip.
After unzipping, I proceeded with the Installation steps specified in Readme.md.
Once its done, I executed the code with the default configuration values(I did not integrate my configuration values) and I was launched in the Sign-In page.
Since I do not have any account to Sign-In, I went for Sign-Up.
Once I tapped the

[2018-09-03 06:39] iHackSubhodip opened #9 "Xcode 9.3 issue after tapping Login button."
Hi Author,

I downloaded the active-directory-b2c-ios-swift-native-msal as zip.
Once its done, I executed the code with the default configuration values(I did not integrate my configuration values) and I was launched in the Sign-In page.
Since I do not have any account to Sign-In, I went for Sign-Up.
Once I tapped the Create Button/Sign-In button, the application crashed.

Help me in addressing th

[2018-11-22 08:46] kishorekankata commented on #7
Still facing the issue.

Please help me if anyone have solution. Carthage build going to be failed always. Xcode version is 9.4.1

Here is the Error in the log file:

The following build commands failed:
	CompileC /Users/kishorekankata/Library/Caches/org.carthage.CarthageKit/DerivedData/9.2_9C40b/microsoft-authentication-library-for-objc/7294d2a9865da914338456366b642c009e9695fc/Build/Intermediates

[2019-02-05 19:42] #2 closed

[2019-02-05 19:47] danieldobalian commented on #5
Closing as this is out of date and the guidance has since change. Please see public docs for more on custom domains.

[2019-02-05 19:47] #5 closed

[2019-02-05 19:48] danieldobalian commented on #8
Sorry for delayed response, we'll be taking a look at the sample and re-writing a large portion of it. Expect an update soon.

[2019-02-05 19:48] #8 closed

[2019-02-07 09:13] CA-hub commented on #3
@parakhj I'm facing the same issue Edit profile policy asking for login again. Any workaround

also : -
            `let thisUser = try self.getUserByPolicy(withUsers: application.users(), forPolicy: kEditProfilePolicy)`

there is no such thing as **application.users()** in MSAL and also I could not find **MSALUser**

[2019-02-11 05:51] parakhj commented on #3
@danieldobalian do we have any updates on the fix for this for iOS?

[2019-11-11 10:14] ajaykeshri opened #19 "Getting Error after hitting Authorize "Could not acquire token""
Hi Team,
Using Xcode 11.1
MacOS Cataline 10.15

I clone this  "active-directory-b2c-ios-swift-native-msal"  and try to run getting Error "Could not acquire token: Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=Failed to start an interactive session, MSALInternalErrorCodeKey=-42008, MSALCorrelationIDKey=C9207A45-6A7D-416B-90E4-93E08F28A637}"
After changing B2C d

[2019-11-18 08:48] SredzinskiPatryk opened #20 "Add Swift manifest file to allow using MSAL from Swift Package Manager"
When you're now trying to use Swift Package Manager to handle iOS dependencies. MSAL is returning an error about missing manifest file. It be nice to be able to use SPM as it is a native solution.

![Zrzut ekranu 2019-11-18 o 09 47 36](https://user-images.githubusercontent.com/32341779/69037632-82d0b500-09e8-11ea-8dd4-ae3abccbe1a6.png)

[2019-11-19 12:20] Hiteksha93 commented on #19
Hi Team,

Using Xcode 11.2
macOS Mojave 10.14.5

I clone this "active-directory-b2c-ios-swift-native-msal" and try to run with the same tenant information provided in that its working fine for me.

I create my own azure tenant id and application on the Azure portal and replace the required information(B2C details) as per the mentioned steps for the ios code base.

when i try to run application wit

[2019-11-20 10:20] Hiteksha93 opened #21 "Getting Error "Could not acquire token: Error Domain=MSALErrorDomain Code=-50000 "(null)""
Hi Team,

Using Xcode 11.2
macOS Mojave 10.14.5

I clone this "active-directory-b2c-ios-swift-native-msal" and try to run with the same tenant information provided in that its working fine for me.

I create my own azure tenant id and application on the Azure portal and replace the required information(B2C details) as per the mentioned steps for the ios code base.

when i try to run application wit

[2019-12-02 08:16] AppleChill opened #22 "How to completely logout"
Hi Team,

Using Xcode 11.0
MacOS Cataline 10.15

I would like to design a login page with below mentioned criteria.
1- Authorization button.
   1.1- On clicking this button, it shall redirect to ask username(email) and password page.
   1.2- On providing valid user name and password and clicking generate button, it shall return me with token.
2- Next step, when I press on logout button, it suppose

[2019-12-03 01:54] AppleChill commented on #22
I think I find the [solution](https://stackoverflow.com/questions/56371613/is-there-any-way-to-forget-signed-in-account-in-azuread-msal-in-swift-ios-app)

let parameters = MSALInteractiveTokenParameters(scopes: kScopes)
parameters.promptType = MSALPromptType.login

[2019-12-03 01:54] #22 closed

[2020-01-15 06:29] Jitenderios opened #23 "Unable to install using Carthage. Is it possible to install this using Cocoapods."
Hi,

 I need help with these points for setting up Login and Registration on our app from Microsoft. :-
1. Unable to install Azure AD B2C package on iOS project using Carthage as given on this GitHub page.
2. Steps to integrate Azure AD B2C using pods files. (https://cocoapods.org/) ?
3. Steps to integrate Login and Sign-up functionality using Azure AD B2C with azure’s predefined screens on iOS ap

[2020-01-16 11:50] jennyf19 commented on #23
@oldalton @brandwe @jasoncoolmax
Can you take a look at this? Thanks!
cc: @secorre92 @jmprieur

[2020-01-16 21:18] oldalton commented on #23
Thanks for reporting this. What kind of error are you getting with Carthage? It will help us to investigate any possible issues with Carthage integration.

[2020-01-17 05:27] Jitenderios commented on #23
Hi @oldalton,
I have worked around with that error and now I am able to install using Carthage on my iOS project.
The sample project given in this GitHub only shows login using microsoft account. Is there a way i can have the signup page as well along login page?

Thanks,
Jitender

[2020-01-17 13:13] Jitenderios commented on #21
Hi @Hiteksha93 ,
Were you able to resolve this issue. I am also facing the same issue.
If resolved, Can you help me how to fix this issue?
@jennyf19
@oldalton
Thanks,
Jitender

[2020-01-17 13:16] Jitenderios commented on #19
Hi @ajaykeshri ,
Were you able to resolve this issue. I am also facing the same issue.
If resolved, Can you help me how to fix this issue?
@jennyf19
@oldalton
Thanks,
Jitender

[2020-01-17 13:26] Jitenderios opened #24 "Getting Error after hitting Authorize "Could not acquire token"
Hi,

Xcode:- 11.3
iOS 13.2.3

I am getting error when I am hitting authorise button with my own created azure tenant id and application on the Azure portal.
Here is the error:-
https://ibotcontrols.b2clogin.com/ibotcontrols.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_0701&client_id=46555959-acc8-4e32-bc82-39645e482495
<MSALB2CAuthority: 0x281066a00>
%@ TID=276726 MSAL 1.0.0 iOS 13.2.3 [2020-01-1

[2020-01-17 13:36] eltonjhony opened #25 "Cancel button in toolbar app"
Hi,

Is there a way to remove the CANCEL button in the App left item bar?
<img width="350" alt="Screenshot at Jan 17 10-35-31" src="https://user-images.githubusercontent.com/25302517/72616191-266d1180-3915-11ea-8390-e55203d48299.png">

[2020-01-17 15:04] jennyf19 commented on #24
@Jitenderios  have you seen the  [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/config-authority#b2c)? Also, I _think_ you need `/tfp/` in the authority url. Like this:
`https://ibotcontrols.b2clogin.com/tfp/ibotcontrols.onmicrosoft.com/B2C_1_0701`

And make sure you're specifying it as a b2c authority in the code (the documentation linked above shows how to do tha

[2020-01-17 15:21] jennyf19 commented on #21
@Hiteksha93 @Jitenderios Could this [branch](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/pull/26) resolve the issue? the endpoint should not be w/login.microsoftonline.com.

[2020-01-17 15:45] jennyf19 commented on #25
fyi: @oldalton

[2020-01-17 15:46] jennyf19 commented on #23
@Jitenderios What do you mean by "have the signup page as well along with login page"?

[2020-01-17 15:48] jennyf19 commented on #20
thoughts on this @oldalton? Thanks.

[2020-01-17 15:52] jennyf19 commented on #19
@ajaykeshri @Jitenderios @Hiteksha93
Could this [branch](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/pull/26) resolve the issue? the endpoint should not be w/login.microsoftonline.com.

[2020-01-17 15:58] jennyf19 commented on #3
@nitisha1 @sharonSilicus @CA-hub @bketelsen Closing this, as it is outdated, but please re-open if the issue still persists. You should be able to set the prompt parameter to none, so no prompt is sent in the header to AAD B2C. This way AAD B2C will use the session cookies to determine if the user already has an active session and they won't be shown a login screen again. Here's an [example](https

[2020-01-17 15:58] #3 closed

[2020-01-17 15:59] jennyf19 commented on #6
@sunny131984 I think it's working better now. We are working harder to keep things updated and working.

[2020-01-17 15:59] #6 closed

[2020-01-17 16:02] jennyf19 commented on #7
@kishorekankata I think @Jitenderios found a solution for carthage.

Closing this issue as outdated, but feel free to reopen.

[2020-01-17 16:02] #7 closed

[2020-01-17 16:05] jennyf19 commented on #9
@iHackSubhodip have you tried w/the latest version? sorry there was no response here. If you still have issues, please re-open. thanks.

[2020-01-17 16:05] #9 closed

[2020-01-20 06:01] Jitenderios commented on #21
Hi @jennyf19
Thanks for your prompt reply to the issue. But now with this new branch, I am getting the same error.
Here is the log when I tapped on authorise button:-

Using XCODE 11.3 AND IOS 13.2.3
https://fabrikamb2c.b2clogin.com/tfp/fabrikamb2c.onmicrosoft.com/b2c_1_susi
%@ TID=963239 MSAL 1.0.0 iOS 13.2.3 [2020-01-20 05:57:13] Requiring default broker type due to app being built with iOS 13 S

[2020-01-20 06:03] Jitenderios commented on #19
Hi @jennyf19
Thanks for your prompt reply to the issue. But now with this new branch, I am getting the same error.
Here is the log when I tapped on authorise button:-

Using XCODE 11.3 AND IOS 13.2.3
https://fabrikamb2c.b2clogin.com/tfp/fabrikamb2c.onmicrosoft.com/b2c_1_susi
%@ TID=963239 MSAL 1.0.0 iOS 13.2.3 [2020-01-20 05:57:13] Requiring default broker type due to app being built with iOS 13 S

[2020-01-20 07:57] Jitenderios commented on #24
Hi @jennyf19,
We have updated the authority url in the format you have suggested but still getting the same error.

Here is the log:-

https://ibotcontrols.b2clogin.com/tfp/ibotcontrols.onmicrosoft.com/B2C_1_0701
<MSALB2CAuthority: 0x282cf2fa0>
%@ TID=988592 MSAL 1.0.0 iOS 13.2.3 [2020-01-20 07:54:38] Requiring default broker type due to app being built with iOS 13 SDK
%@ TID=988592 MSAL 1.0.0 iOS

[2020-01-20 13:02] #23 closed

[2020-01-20 19:12] jennyf19 commented on #24
@Jitenderios are you setting the known authority?
[code]

[2020-01-20 19:15] oldalton commented on #24
Please also see [this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/config-authority#change-the-default-authority) for additional informations and steps needed. Thanks!

[2020-01-20 19:15] jennyf19 commented on #19
@Jitenderios are you setting the known authority?
[code]

[2020-01-20 19:16] oldalton commented on #19
Please also see [this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/config-authority#change-the-default-authority) for additional informations and steps needed. Thanks!

[2020-01-20 19:18] oldalton commented on #20
This feature request is tracked here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/737. Thanks.

[2020-01-20 19:22] oldalton commented on #21
Please see [this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/config-authority#change-the-default-authority) for additional steps needed when using B2C authority. You need to declare authority as "known" to bypass additional validation that is enabled by default in MSAL.

[2020-01-20 19:25] oldalton commented on #25
You can create your own fully custom UI by passing MSAL your web view. See documentation here: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALWebviewParameters.html#/c:objc(cs)MSALWebviewParameters(py)customWebview

However, it looks like you're using WKWebView configuration with MSAL. For B2C, we recommend using the default webview configuration instead. Please se

[2020-01-21 00:28] jennyf19 commented on #24
@Jitenderios the sample has been updated...want to try again?

[2020-01-21 00:29] jennyf19 commented on #19
@ajaykeshri @Hiteksha93 @Jitenderios Sample has been updated.

[2020-01-21 06:05] Jitenderios commented on #24
Hi @jennyf19 @oldalton

Thanks for the quick reply.

I have cloned the updated sample and ran the code with the existing credentials, it worked fine. But when I replaced it with my credentials, it showed error when i tapped on authorise button. Can I share my sample project to you to verify if the credentials which i am passing are all correct?

Here is the printed log when i ran the code with my

[2020-01-21 06:08] Jitenderios commented on #21
Hi @jennyf19 @oldalton

Thanks for the quick reply.

I have cloned the updated sample and ran the code with the existing credentials, it worked fine. But when I replaced it with my credentials, it showed error when i tapped on authorise button. Can I share my sample project to you to verify if the credentials which i am passing are all correct?

Here is the printed log when i ran the code with my

[2020-01-21 06:09] Jitenderios commented on #19
Hi @jennyf19 @oldalton

Thanks for the quick reply.

I have cloned the updated sample and ran the code with the existing credentials, it worked fine. But when I replaced it with my credentials, it showed error when i tapped on authorise button. Can I share my sample project to you to verify if the credentials which i am passing are all correct?

Here is the printed log when i ran the code with my

[2020-01-21 13:00] eltonjhony commented on #25
Hi @oldalton

Thanks for the response!

Is the ```customWebView``` prepared to work with ```MSALWebviewType.wkWebView``` for B2C connections? I tested here and seems to not be working:
[code]
We know that is not the recommend solution, but we need to open the screen inside a WKWebView instead of a default web browser to meet UI requirements.

[2020-01-21 16:23] jennyf19 commented on #24
@Jitenderios thanks for the update. by "your credentials" do you mean our own app settings? Can you share the value you're using for the b2c authority? and if you want, you can share a zip file w/the repro. feel free to email me: jeferrie@microsoft.com

[2020-01-21 20:20] jennyf19 commented on #24
You don't need to pass in the actual endpoint, as MSAL obj-c lib will create the correct endpoints for you based on the b2c authority passed in and using the metadata returned from AAD B2C, found at `.../v2.0/.well-known/openid-configuration`

[code]

Should be:
[code]

Also, uncomment this section:
[code]
and add this back in `getAuthority`:

[code]
You can put a breakpoint on line 388 and see wh

[2020-01-21 20:53] oldalton commented on #25
You also need to display that WKWebView somewhere, by either adding it as a subview in code or adding it in the interface builder.

[2020-01-21 21:47] eltonjhony commented on #25
Thank you @oldalton !

[2020-01-21 21:47] #25 closed

[2020-01-22 06:09] Jitenderios commented on #24
Hi @jennyf19 ,

Thanks a-lot for the detailed answer. I tried the above steps and now  I am able to go forward in the app, the app now opened the webview on the app with login page. When I tried to login with Google and also while creating new user, it got a error there. It says MSALErrorDescriptionKey=Authentication response received without expected accessToken, MSALInternalErrorCodeKey=-42008.

[2020-01-22 06:34] oldalton commented on #24
@Jitenderios, is the "https://ibotcontrols.onmicrosoft.com/46555959-acc8-4e32-bc82-39645e482495/demo.read" valid scope? B2C will ignore scopes it doesn't recognize and skip returning an access token which would cause this error.

[2020-01-22 07:05] Jitenderios commented on #24
Thanks @oldalton, the scope was not valid. After updating the scope, I am now able to get access token.

@jennyf19

Thanks,
Jitender

[2020-01-22 16:29] jennyf19 commented on #24
@Jitenderios can we close this issue and the other one now? glad you are unblocked.
cc: @SergioNC

[2020-01-22 20:23] jennyf19 commented on #19
@ajaykeshri this issue has been resolved. want to check w/the latest version of the sample?

[2020-01-23 05:10] Jitenderios commented on #24
Hi Jenny,

Thanks for the support. Yes this issue has now been resolved. I am now able to get access token.
Yes, you can close this issue now.

Thanks a lot for your help.

Great working with you.

Thanks & Regards,

Jitender Kumar Yadav

[2020-01-23 05:14] jennyf19 commented on #24
closing as per @Jitenderios

[2020-01-23 05:14] #24 closed

[2020-01-23 05:15] jennyf19 commented on #19
closing as @Jitenderios confirms the updates to the sample have resolved the issue. @ajaykeshri , please reopen or create a new issue if you still have problems. thanks.

[2020-01-23 05:15] #19 closed

[2020-01-23 05:16] jennyf19 commented on #21
closing as this is fixed in the current sample.

[2020-01-23 05:16] #21 closed

[2020-01-27 20:59] azav opened #27 "Show how you can prepopulate the login screen with username and password"
For our UI tests, we are used to entering the username and password for a local test user through code. When your samples use the SFSafariViewController, we are prevented from accessing the contents of these screens.

Until we can find out how to do this, we've got 300 broken UI tests.

Xcode 11.3, iOS.

[2020-01-29 17:56] jennyf19 commented on #27
fyi @oldalton

[2020-02-05 17:44] mo3bius opened #28 "Problem with Authentication"
Hi :)
I'm new with Azure B2C. I followed the indication on web site (https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant) on how to create a azure b2c. Now I wanna implement it in my iOS and Android applications. I started with iOS and with this MSAL library. I followed the readme and I put my tenant fields in example variables.

I have some doubts:
- What do I have

[2020-02-06 17:31] jennyf19 commented on #28
@mo3bius I know for .NET, developers have to send us a scope value. I'm not sure for Obj-C, but @oldalton  can answer that for us. If you don't care about configuring an API, then just use `"user.read"` as the scope value, I know this works for apps registered with AAD, but not sure for AAD B2C (@valnav do you know if this is the case?).

Because you're not sending in a scope, you're not getting a

[2020-02-06 21:28] valnav commented on #28
B2C apps need the offline_access and openid scopes. In the new app registrations (preview), this is selected by default during the registration of the app. See highlighted in the image
![appreg-b2c](https://user-images.githubusercontent.com/7757215/73980144-7cb1ec80-48e4-11ea-9da1-f1a80b829914.jpg)

[2020-02-07 16:49] mo3bius commented on #28
I tried to insert let kScopes: [String] = ["user.read"] // This is a scope that you've configured your backend API to look for. but show me this error message:

 `let kScopes: [String] = ["user.read"] // This is a scope that you've configured your backend API to look for.`

[2020-02-07 16:52] mo3bius commented on #28
I selected this flag on Azure but I don't understand what I have to insert in:
`let kScopes: [String] = ["https://fabrikamb2c.onmicrosoft.com/helloapi/demo.read"] // This is a scope that you've configured your backend API to look for.` of swift code.

Because in this moment I don't have any API to connect (I just want a token back from B2C) and if I try to insert: "user.read" or "opened" or "offli

[2020-02-10 23:54] agentsim commented on #28
Were you able to figure out how to request the `user.read` scope? I'm having the same problem.

[2020-02-12 14:11] ralexandre-ciandt opened #29 "Question: Intercept Custom WebView Events"
Hi!

I am trying to intercept a few WebView events and delegates but none of them seems to be called. Is this by security or there are a few more setups to do? Just to understand if it's a limitation and we cannot do it or if we can keep studying in order to put it to work.

Using a normal WebView opening a website all works, but passing it as a parameter as a custom WebView to MSAL they are not b

[2020-02-13 10:06] GithubAshishHere opened #30 "New user login"
* Not working: Login successfully with one user and then without killing the application and again try to login "Use another account". It will ask for the new email to enter.  After entering a new email and click on next. it's automatically getting old signed in account and login with that old account successfully.

* Working: if I login successfully with one account and kill application then agai

[2020-02-15 04:33] jennyf19 commented on #30
fyi: @oldalton

[2020-02-15 04:34] jennyf19 commented on #29
cc: @oldalton

[2020-02-15 04:37] oldalton commented on #29
Hi. MSAL itself will become a delegate for the webview that is why you're not able to intercept the events. Can you please provide a bit more information about scenarios you're trying to achieve?

[2020-02-15 04:38] oldalton commented on #30
Is this the same issue? https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/850.

[2020-02-15 04:48] oldalton commented on #28
Unfortunately we don't support cases where no access token is returned right now. I've filed a feature request for this here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/852

In the meantime, you can configure your own "dummy" Web API and a scope. Try following:

[code]

[2020-02-15 09:19] GithubAshishHere commented on #30
Yes, I check all SDK. Same issue. I'm getting.
Step-1: log in with a new email I'd.
Step-2: After successful login with the first email you will get two options one already signed in email option and another "Use another account".
Step-3: Click on Use another account. Enter a new email and press next. You now got successfully signed in with the first email I'd.  Why it's not getting or asking for

[2020-02-15 09:20] GithubAshishHere commented on #30
Waiting for your response. Thank you

[2020-02-15 15:53] nguyenhuutinh commented on #28
yes, the guideline is very confused to follow.
should make more clearly about some parameter

[2020-02-15 16:12] nguyenhuutinh opened #31 "Cannot run sample application"
Hi, I read all document but still cannot run demo app with my tenant
always get invalid url when try to authorise.
Please help . thanks
<img width="923" alt="Screenshot 2020-02-15 at 11 08 15 PM" src="https://user-images.githubusercontent.com/4114159/74591230-b0111b80-5048-11ea-8596-67c4931e1ad2.png">

![Simulator Screen Shot - iPhone X - 2020-02-15 at 23 11 13](https://user-images.githubuserconte

[2020-02-15 16:49] #31 closed

[2020-02-15 17:07] nguyenhuutinh commented on #28
and what should I fill for kGraphURI ?

[2020-02-15 17:37] oldalton commented on #30
Can you try following:

[code]

[2020-02-15 18:01] oldalton commented on #28
If you are actually not calling any Web API from your client, feel free to ignore that section and you can also completely remove this function from your app: https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/blob/master/MSALiOSB2C/ViewController.swift#L270. This sample is meant to show client calling your own Web API on top of initial sign in.

[2020-02-17 05:16] GithubAshishHere commented on #30
Hello, Madam
I coded like this. is it the wrong way?

 MSALInteractiveTokenParameters *interactiveParams = [[MSALInteractiveTokenParameters alloc] initWithScopes:scopes webviewParameters:webParameters];
 [interactiveParams setPromptType:MSALPromptTypeSelectAccount];

[2020-02-17 05:33] GithubAshishHere commented on #30
Sorry, madam your sign way of prompt not working.
`interactiveParams.promptType = MSALPromptTypeLogin;`
But You assign like below code it's going to prompt mode.
`[interactiveParams setPromptType:MSALPromptTypeSelectAccount];`
But my issue is when I set prompt type. we have the two options already signed in email and another option is "Use another account". If you open just fresh application and c

[2020-02-17 11:58] nguyenhuutinh opened #32 "Is it posible to add parameter to authorize api?"
Hello,
I want to add custom parameter to custom policies.
is it posible to add it?
example: ip_override=103.247.92.0

https://abc.b2clogin.com/abc.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_IP_Demomfa_signup_signin&client_id=abc&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fjwt.ms&scope=openid&response_type=id_token&prompt=login&ip_override=103.247.92.0

thanks

[2020-03-19 18:00] oldalton commented on #30
Closing as duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/850. Let's track that issue in MSAL repository.

[2020-03-19 18:00] #30 closed

[2020-03-19 18:02] oldalton commented on #32
Thanks for the question. You can pass additional parameters as extra query parameters using this property: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALInteractiveTokenParameters.html#/c:objc(cs)MSALInteractiveTokenParameters(py)extraQueryParameters. Hope it helps and sorry for a late reply. We generally recommend to open issues in the main MSAL repository to get

[2020-04-21 20:40] rbinrais opened #33 "How to limit scopes for idToken?"
I need guidance on how to set the scope for idToken because I do not need access_token.

Currently, the sample requires scope to be set even for an id_token. The empty scope or the scope of ``openid`` is not supported either.

``let kScopes: [String] = ["https://ultimatetest1.onmicrosoft.com/Read"] // This is a scope that you've configured your backend API to look for.
    ``

It would be helpful

[2020-05-08 21:37] oldalton commented on #33
This is currently not supported, but we have a feature tracking ticket to improve that: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/852

[2020-05-08 21:37] #33 closed

[2020-05-08 22:03] oldalton commented on #32
Closing this issue as stale. Please reopen if needed.

[2020-05-08 22:03] #32 closed

[2020-05-08 22:32] oldalton commented on #28
Closing this issue as stale. Please reopen if needed.

[2020-05-08 22:32] #28 closed

[2020-05-08 22:32] oldalton commented on #29
Closing this issue as stale. Please reopen if needed.

[2020-05-08 22:32] #29 closed

[2020-05-08 22:33] oldalton commented on #27
Closing this issue as stale. Please reopen if needed.

[2020-05-08 22:33] #27 closed

[2020-07-08 07:34] pavelreva1998 opened #34 "Keychain autofill for sign in"
Hi, I have a question, is it possible to somehow implement for MSAL b2c iOS library password storing in Keychain as it works in native applications?

Thanks a lot for you answer

[2020-07-08 17:59] chadhasbrook opened #35 "Fails to parse userIdentities collection in native client iOS for Azure AD B2C and instead sends empty arrays"
When using this sample, the token is not being properly parsed correctly with for the userIdentities collection returned from Azure AD B2C. We confirmed the same policy works OK with a web application as well as a test JWT app (the userIdentities field is populated - confirmed via MS Graph and with a test web app).

The token viewed inline appears to look like:

![image](https://user-images.github

[2020-07-09 07:15] nguyenhuutinh opened #36 "Sign in with Apple does not work"
Hi , Apple requires to support "Sign in with Apple" option to Azure B2C
Then we integrated it
 we tested with browser, it's ok,
but got problem when test on application.
Got Stuck at appleid.apple.com
![Screen Shot 2020-07-09 at 2 15 00 PM](https://user-images.githubusercontent.com/4114159/87008897-9c7c7200-c1ee-11ea-89ad-c69944c23e7b.png)

and no callback in application.acquireToken

Do you have

[2020-07-10 18:04] jennyf19 commented on #36
@nguyenhuutinh This issue seems to be fixed in iOS 13.4.
->
"The original issue was an Apple bug and was caused by a race condition between Apple ID extension returning result and ASWebAuthenticationSession response handling (webkit was getting cancelled error -999)."

[2020-07-13 09:46] pavelreva1998 opened #37 "Authorization cycling for webviewType == .wkWebView/.safariViewController"
Hello,

I have authorization with MSAL within my project. The problem is the following, that it works fine with webviewType == .default, but it uses ASWebAuthenticationSession, which asks user permission for SSO, I don't have SSO and I just want to get rid of this prompt, the way I found is to set webviewType as wkWebView or safariViewController. But it seems, that, potentially, it requires some a

[2020-07-20 14:22] ashishLanghe-iOS opened #38 "-canOpenURL: failed for URL: "msauthv2://broker""
I'm not able to execute MSAL SDK. I'm getting below mentioned issue while redirecting to SignIn.

**My System Configuration :***

 - Mac OS : macOS High Sierra
 - XCode Ver : Version 10.1 (10B61)

**Issue :**
[code]

Please help me to resolve this issue.

<img width="1127" alt="issue_001" src="https://user-images.githubusercontent.com/65280554/87946810-21556e80-cac0-11ea-8d2c-c39f0fb54188.png">

P

[2020-09-02 11:23] Shayila commented on #3
Hi,
I want to edit the profile for the user who is recently signed in,
How to skip the login page in MSAL custom Edit policy when the user is already signed-in?

[2020-09-04 06:40] Shayila opened #39 "How to skip the Login for Profile Edit Policy ?"
Hi,
I want to edit the profile for the user who is recently signed in,
How to skip the login page in MSAL custom Edit policy when the user is already signed-in?

[2020-09-07 04:10] nguyenhuutinh commented on #36
thanks

[2020-09-07 04:10] #36 closed

[2020-10-06 17:49] a-elnajjar opened #40 "Reset/Forget Password from Settings View for example?"
I am trying to found how to Reset/Forget Password from ViewController for authenticated User from Settings View for example?

[2020-10-09 05:53] kiranSDM opened #41 "Authentication response received without expected accessToken"
I am trying to run the sample provided to get the token. I have replaced the values as specified in the readme file like client id, Tenant name as per the configuration received while registering the app.

I successfully able to open the page in safari which took input to login (Email/Password). Login was successful but I am receiving below error :
 **Error Domain=MSALErrorDomain Code=-50000 "(nul

[2020-10-30 16:53] jennyf19 commented on #41
@kiranSDM thanks for opening the issue. Does doing a direct `git clone` of the repro and running it as-is work for you, or is the same here present there as well?

[2020-10-30 16:56] jennyf19 commented on #40
@a-elnajjar can you provide more information on what exactly you are looking for? maybe step by step from the customer perspective? thanks.

[2020-10-30 22:55] kaisong1990 commented on #41
@kiranSDM Thanks for your question, please refer to the following Github issues where the scope is invalid:

https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/issues/24

https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/issues/28

[2020-11-03 13:56] hongfeiyang commented on #24
Hi @jennyf19 , I also run into the same issue, may I know how did you update scope to correct settings?

[2020-11-08 05:32] gitforanand opened #42 "kgraphURI not accepted"
IOS 14.1
SWIFT 5
When SINGUP_SIGNIN_Flow Triggered,
<img width="328" alt="Screen Shot 2020-11-08 at 12 31 45 AM" src="https://user-images.githubusercontent.com/11406838/98457965-dc7e4200-2159-11eb-8daf-60a824776442.png">
<img width="444" alt="Screen Shot 2020-11-08 at 12 32 03 AM" src="https://user-images.githubusercontent.com/11406838/98457966-dd16d880-2159-11eb-8746-a4515751be3b.png">

'TID=4060

[2020-11-08 05:35] gitforanand commented on #42
let kTenantName = "redacted.onmicrosoft.com" // Your tenant name
    let kAuthorityHostName = "redacted.b2clogin.com" // Your authority host name
    let kClientID = "XXXXXXXX-1111-2222-3333-YYYYYYYYYYYY" // Your client ID from the portal when you created your application
    let kSignupOrSigninPolicy = "B2C_1_signup_signin" // Your signup and sign-in policy you created in the portal
    let kEdit

[2020-11-18 00:12] #41 closed

[2020-11-18 00:31] ameyapat commented on #42
@gitforanand Can you clarify what you're trying to do? What is the error that you're getting? Is the API you've specified in kGraphURI registered in your tenant? https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-desktop-app-webapi?tabs=app-reg-ga#add-a-web-api-application

[2020-11-18 03:31] #38 closed

[2020-11-18 12:01] mbondoso opened #43 "Building for iOS Simulator, but the linked framework 'MSAL.framework' was built for iOS."
Hi,

I used carthage as instructed but I get this error "Building for iOS Simulator, but the linked framework 'MSAL.framework' was built for iOS." and I cannot run any simulator.

[2020-11-19 16:53] mbondoso commented on #28
@oldalton I have already a webapp working with msal that currently is returning an id_token;
I tried to replicate the same approach when developing for iOS, which is the same as you suggested it above:
2. Another thing you can do, is pass your clientId that you're using to create MSALPublicClientApplication as your scope.

But the error is still the same, "Could not acquire token: Error Domain=MSA

[2020-11-20 03:34] oldalton commented on #28
@mbondoso, you'll need to create a "dummy" API like it is explained above.

[2020-11-23 14:38] nguyenhuutinh opened #44 "iOS autofill sms code from the keyboard does not work"
hi,

with sms input field, if we enter code manually , it works,

But if we tap the code in the top of keyboard (iOS), our form never can be completed.

![WhatsApp Image 2020-11-23 at 8 52 14 PM](https://user-images.githubusercontent.com/4114159/99974870-16934900-2dd4-11eb-8733-e78fa9ad0985.png)

We cannot modify this field. Can we add button there for complete the sms flow?

[2020-12-04 19:47] mbondoso opened #45 "Command PhaseScriptExecution failed with a nonzero exit code"
Hi, when trying to archive the app, I am getting this error:

A shell task (/usr/bin/xcrun lipo -remove x86_64 -output /var/folders/gk/yy0jdqss6q9g2cbg50vr77w00000gn/T/TemporaryItems/(A\ Document\ Being\ Saved\ By\ carthage\ 108)/carthage-lipo-zffIFN/MSAL.framework.dSYM/Contents/Resources/DWARF/MSAL /var/folders/gk/yy0jdqss6q9g2cbg50vr77w00000gn/T/TemporaryItems/(A\ Document\ Being\ Saved\ By\ car

[2020-12-04 23:24] NerevarineRule commented on #45
Are you seeing this issue only on MSAL, or on other libraries. Thanks.

[2020-12-04 23:28] NerevarineRule commented on #44
What is the autofill suggesting. Perhaps reach out to Apple directly for troubleshooting, as Apple owns this feature. Thanks.

[2020-12-04 23:33] NerevarineRule commented on #43
There's an instance of MSAL.framework for iOS simulator. Linking it in the Link binary with libraries under build phase might help. Or perhaps Carthage doc could provide a way to change the MSAL.framework instance from the device target to the simulator target.

[2020-12-04 23:36] NerevarineRule commented on #37
@pavelreva1998 Is this issue resolved?

[2020-12-04 23:38] NerevarineRule commented on #35
@chadhasbrook Are you still seeing this issue?

[2020-12-04 23:42] NerevarineRule commented on #34
@pavelreva1998  Are you still seeing this issue?

[2020-12-04 23:56] mbondoso commented on #45
Msal is our only lib dependency so yes.

[2020-12-04 23:58] mbondoso commented on #43
Ultimately I had to compile the code for simulator and link it. So it worked for the tests.

Thanks for the reply

[2020-12-04 23:58] #43 closed

[2020-12-07 03:13] nguyenhuutinh commented on #44
yes, correct sms code. but the input complete trigger action was not fired

[2020-12-08 23:01] oldalton commented on #44
This normally means that Input textfield is not properly configured. I'd recommend taking a look at Apple documentation: https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element?language=objc

[2020-12-08 23:02] oldalton commented on #45
Thanks for clarification. I'd recommend opening this issue in Carthage: https://github.com/Carthage/Carthage
Do you see any specific MSAL error in Carthage output?

[2020-12-09 09:01] nguyenhuutinh commented on #44
hi, I found that  it is an issue on iOS 14. and you guys have fixed it.

[2020-12-10 15:29] #44 closed

[2020-12-14 13:39] DaehyunLee opened #46 "Safari cannot open the page because the address is invalid"
Hello, Thank you for the sample.
I'm encountering an issue and was wondering if someone can point me in the right direction.

<img width="1194" alt="20201214_132248463_iOS" src="https://user-images.githubusercontent.com/1912447/102086971-df1e2800-3de6-11eb-9acb-305072152d9a.png">

I've set things up referencing the read me and this post. (https://github.com/Azure-Samples/active-directory-b2c-ios-s

[2020-12-15 02:44] DaehyunLee commented on #46
The problem was the app registration being setup incorrectly.

Following the steps here solved it.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/signin-appauth-ios?tabs=app-reg-ga

[2020-12-15 23:08] aherciya commented on #46
@DaehyunLee Please let us know if there was something you found confusing in our documentation.

[2020-12-16 00:35] #34 closed

[2020-12-16 00:35] #35 closed

[2020-12-21 10:01] mbondoso commented on #45
@oldalton Yes, this happens in the copy frameworks build phase.
I've removed the copy frameworks step but now I get this: ITMS-90338: Non-public API usage - The app references non-public selectors in XXXX: idToken, initWithParentViewController:, removeAccount:error:. If method names in your source code match the private Apple APIs listed above, altering your method names will help prevent this app

[2020-12-21 15:21] oldalton commented on #45
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1155.

[2020-12-22 23:20] ameyapat commented on #45
Closing as duplicate of above stated issue

[2020-12-22 23:20] #45 closed

[2020-12-22 23:21] ameyapat commented on #46
Closing as resolved

[2020-12-22 23:21] #46 closed

[2021-01-05 23:26] #37 closed

[2021-01-05 23:27] #39 closed

[2021-01-05 23:27] #40 closed

[2021-01-05 23:27] #20 closed

[2021-01-08 23:33] kaisong1990 commented on #42
Closed it due to no response :)

Feel free to reopen it if there is still an issue

[2021-01-08 23:33] #42 closed

[2021-01-23 14:01] rajahimanath opened #47 "A Sample App working with SwiftUI framework will help tremendously"

[2021-01-26 14:04] maro01507i opened #48 "How to configure kScope"
Hello,

I'm trying to use this example to use my API, but it seems that I'm unable to determine how to include the kScope into my project.

Currently the app is able to show the login interface, and the user is capable of login, but when the login button is pressed, an error ocurres, that is as follow:

%@ TID=163667 MSAL 1.1.10 iOS 14.3 [2021-01-26 13:58:05 - 4FDAEE00-DB49-4A39-B5B8-FDB88CDF4236]

[2021-01-29 23:20] antrix1989 commented on #48
hi @maro01507i , seems you didn't get an Access token back from the server. To provide your scope, you can just modify the constant in the sample app, see [here](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/blob/master/MSALiOSB2C/ViewController.swift#L43).

[2021-01-29 23:21] antrix1989 commented on #47
Thanks for the request. I will update here once we add a sample with SwiftUi.

[2021-02-01 07:23] maro01507i commented on #48
Hello @antrix1989 Yeah, I know that I need to change the scope in my project. The problem is that I don't know what data do I need to put in there. Could you point me to where that data is present in Azure to add it to the project?

[2021-02-06 01:27] antrix1989 commented on #48
Hi @maro01507i , see [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-web-api-application?tabs=app-reg-ga#configure-scopes) how to configure scopes.

[2021-02-09 23:18] #48 closed

[2021-02-17 22:43] iShaymus commented on #47
+1 On this.  I've just written an entire application in pure SwiftUI just went to add the Auth only to find that there is no examples for it at all.  I probably should have looked at this first XD

[2021-02-17 23:39] rbevans-ugh commented on #47
+1 to this. As a new dev learning SwiftUI I’m finding it difficult to implement a way to do this.

[2021-02-20 14:07] osca2000 commented on #47
+1 mil to this from me. waiting for almost a year now.

[2021-03-02 12:46] ekscrypto opened #49 "Documentation and sample not matching"
The documentation in the ReadMe file does not match the code of the sample application.  While there are similitudes the sample has quite a number of extra steps.  Would be great to have coherence between the docs & sample.

The code in the documentation and in the sample are also apparently deprecated, we should be using MSALWebviewParameters(authPresentationViewController: …) instead of MSALWebv

[2021-03-05 21:50] chiyichu commented on #47
+1 +1 to this. I tried using SwiftUI protocol UIViewControllerRepresentable to 'wrap' an UIViewController in a SwiftUI page view, but eventually got lost on how to pass it to MSALWebviewParameters.  A SwiftUI example will definitely help a lot.

[2021-03-05 21:53] chiyichu commented on #47
+1 +1 to this. I tried using SwiftUI protocol UIViewControllerRepresentable to 'wrap' an UIViewController in a SwiftUI page view, but eventually got lost on how to pass it to MSALWebviewParameters. A SwiftUI example will definitely help a lot.

[2021-03-05 23:37] mipetriu commented on #49
@ekscrypto thanks for pointing that out.

[2021-03-07 09:00] Prabhakaran-Ganesan commented on #47
+1 to this.
Will be very helpful..
[#Azurefeedback](https://feedback.azure.com/forums/34192--general-feedback/suggestions/41292499-can-you-add-a-code-sample-for-msal-and-swiftui)

[2021-03-07 12:46] DanielsCode commented on #47
+1

[2021-03-10 23:51] JeaNugroho commented on #47
+1 to this too!

I am currently working on a senior design capstone project, and this sample app or tutorial would be very beneficial!

[2021-03-12 16:59] mipetriu commented on #49
@ekscrypto when I went to update the documentation as you mentioned, I didn't notice the deprecated code in this iOS B2C sample, but I did notice it in the general quickstart iOS sample here: [https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc](https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc). And I noticed the deprecated code in the ReadMe of the MSAL librar

[2021-03-24 11:05] BoobalakannanS commented on #47
+1 to this..

[2021-03-24 18:53] zzdravkin opened #50 "WKWebView open inside app. asking for re-authentication."
After authenticated with any method, and opening WKWebView (new instance or shared singleton) webview is asking for sign-in.

Is there any way to sign in with the access token without showing sign-in page?

Even with SFSafariViewController and login page set to .default, still is showing sign-in page in SFSafariViewController

[2021-03-25 22:43] hieunguyenmsft commented on #50
If you have valid access token, you can try to sign-in silently with this API:
[Silent API](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplication.html#/c:objc(cs)MSALPublicClientApplication(im)acquireTokenSilentWithParameters:completionBlock:)
`-acquireTokenWithParameters:completionBlock:` always pops-up webview, it's by design.
Thanks

[2021-03-26 06:50] zzdravkin commented on #50
Scenario:
1. App. open and I sign-in silently. I have the access token.
2. After I open WKWebView or SFSafariViewController and once I open the page, it asking for sign-in inside the WebView.

Any way to by-pass that sign in, maybe with javascript or cookies or any idea you can suggest

Thank you

[2021-03-26 14:57] ameyapat commented on #50
@zzdravkin SSO/ cookies are not shared in SFSafariViewController or WKWebView. https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews#cookie-sharing-and-single-sign-on-sso-implications

Can you use [ASWebAuthenticationSession](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession)?

[2021-03-26 17:11] zzdravkin commented on #50
Hi,

I am using
 webViewParamaters?.webviewType = .authenticationSession or webViewParamaters?.webviewType = .default to sing-in which is using ASWebAuthenticationSession.

after that application start, and I want to open wkwebview or sfsafariViewController that will open a secure website but is asking for login again.

For example on the web, when you sign in and if you open a new tab, you are st

[2021-03-30 13:25] ankitahuja0508 opened #51 "Not able to acquire token silent"
I tried saving account identifier while acquiring token interactively.
Now while getting account using below code does not return account
[code]
That is needed to create  object for **MSALSilentTokenParameters** which again needs to be sent in function **acquireTokenSilent**

Can anyone please help me getting this solved. I am tired of implementing ' acquiring token silently '

[2021-03-30 22:35] antrix1989 commented on #51
hi @ankitahuja0508, could you please share MSAL logs? You can send them to sedemche@microsoft.com. Thanks!

[2021-03-30 22:42] ameyapat commented on #50
@zzdravkin If you use ASWebAuthenticationSession you should have SSO in safari app. If you use WKWebView or SFSafariViewController safari app won't have SSO. Using WKWebView or SFSafariViewController will not provide SSO.

[2021-03-31 06:52] zzdravkin commented on #50
Hi Ameya Patil, Thanks for your answer.
Even when I use:
 `webViewParamaters?.webviewType = .authenticationSession`

and trying to open a link with the Safari app.
`UIApplication.shared.open(url)`

still asking for login.

So I guess SSO is not supported with iOS 13/14 as I've tried all combinations.
Any suggestions will be helpfull

Thank you

[2021-03-31 15:23] ameyapat commented on #50
Hi @zzdravkin,it should work for iOS 13 if you're using ASWebAuthenticationSession.
Due to a bug from Apple in iOS 14, SSO is not working across b2c user flows but is fixed in iOS 14.5.
A workaround in that case is to enable [kmsi](https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-user-flow#enable-keep-me-signed-in-kmsi)

[2021-03-31 18:16] zzdravkin commented on #50
Thank you for clearing it up

[2021-03-31 23:42] antrix1989 commented on #51
You are getting:

`Keychain find status: -34018 /* A required entitlement isn't present. */`

Please add required keychain groups to your project Capabilities, see [here](https://github.com/AzureAD/microsoft-authentication-library-for-objc#configuring-msal).

[2021-04-01 00:58] ekscrypto commented on #49
The issue is in the ReadMe of this project here: https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal

As mentioned the issue is the ReadMe file recommends using

let webViewParameters = MSALWebviewParameters(parentViewController: viewController)

The header file in the MSAL framework contains this:

/**
    Creates an instance of MSALWebviewParameters with a provided parent

[2021-04-01 19:39] #50 closed

[2021-04-04 05:29] ankitahuja0508 commented on #51
thanks

[2021-04-04 05:29] #51 closed

[2021-04-13 22:41] ameyapat commented on #49
Code fix has been committed and to be released soon

[2021-04-13 22:41] #49 closed

[2021-04-23 13:35] Jins17994 commented on #24
I have the same issue, how do you fix it? could you plz post the scope?

[2021-04-23 15:30] Jins17994 commented on #19
I have the same issue, how do you solve it?

[2021-04-23 15:53] jennyf19 commented on #19
@Jins17994 The fix was merged in with this [PR](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/pull/26). It might have been a customer configuration issue, I don't remember. We'd need to see the specific error message and possibly the values [here](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/blob/master/MSALiOSB2C/ViewController.swift#L3

[2021-04-23 16:28] Jins17994 commented on #19
@jennyf19
This is the detailed error description

%@ TID=4035076 MSAL 1.1.16 iOS Sim 14.4 [2021-04-23 16:26:15] Creating Error with description: It is not B2C authority.
%@ TID=4035076 MSAL 1.1.16 iOS Sim 14.4 [2021-04-23 16:26:15] Default app's access group: "Masked(not-null)".
%@ TID=4035076 MSAL 1.1.16 iOS Sim 14.4 [2021-04-23 16:26:15] Using "Masked(not-null)" Team ID.
%@ TID=4035076 MSAL 1.1.

[2021-04-23 16:31] Jins17994 commented on #19
@jennyf19  earlier error is : Authority validation is not supported for this type of authority. then I change _validateAuthority = NO in MSALPublicClientApplication.m file and run again then show above mentioned error.

[2021-04-23 17:51] jennyf19 commented on #19
@Jins17994 what authority are you using?

[2021-04-24 03:03] Jins17994 commented on #19
@jennyf19  Authority Url : https://markhabadev.b2clogin.com/markhabadev.onmicrosoft.com/B2C_1_dev_SignupSignin/oauth2/v2.0/authorize

this is my code :

func msal(){
        do {
            // Create an instance of MSALPublicClientApplication with proper config

            guard let authorityURL = URL(string: "https://markhabadev.b2clogin.com/markhabadev.onmicrosoft.com/B2C_1_dev_SignupSignin/oa

[2021-04-28 04:36] Jins17994 opened #53 "After Sign Out MSALwebView still shows previous user credentials"
when a user sign out from account(Facebook is I am using in azure ad b2c) and again click on sign up button with another user then MSALwebView shows previously logged user detail(cache not cleared).

how to clear the MSALwebView cache ?

[2021-04-28 08:01] #53 closed

[2021-05-14 04:56] ronnyvega opened #54 "Not a B2C Authority. Trying to initialize access token when missing access token field."
I'm trying to setup Google as an identity procider in my Azure B2C AD and pass an access token into my iOS app.

I've mirrored the sample app you've provided, and I've configured my B2C AD according to these tutorials:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-native-application?tabs=app-reg-ga
https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-sign-in-policy?pi

[2021-05-22 04:05] ronnyvega commented on #54
Issue resolved. B2C AD skips returning an access token when scope is missing.

[2021-05-22 04:05] #54 closed

[2021-06-06 12:25] tommycbarker opened #55 "Sample does not return from acquireToken: Big Sur macOS 11.2.3 (20D91) with XCode12 Version 12.5 (12E262)"
Hello,
Having successfully configured this project via the Carthage docs for XCode 12, I have brought up this sample and the initial view displays without issue. When I click Authorize, I see "fabrikamb2c.b2clogin.com" in the webview header and then the webview starts cycling. There is no other logging activity until the termination risk log entry is added. After that entry, I cancel the webview.

[2021-06-10 22:20] mipetriu commented on #55
Hi @tommycbarker, thanks for reporting this. Its possible that some changes were made recently to the sample tenant in the B2C portal. We will double check the configuration of the https://fabrikamb2c.onmicrosoft.com/ B2C tenant to make sure there isn't an issue with the configuration.

[2021-07-12 00:07] mfcollins3 opened #56 "Is the B2C instance running?"
I'm trying to implement this in my Swift/iOS application using Xcode 12.5 and iOS 14.5. When I run try running the code against my tenant, I am getting "Safari cannot open the page because the address is invalid." I tried running the sample, but I'm getting a similar error and it appears that the B2C tenant that the sample is using is not running either. Is this sample still valid for using MSAL t

[2021-07-18 21:33] MNF opened #57 "Does the sample follows RFC 8252 OAuth 2.0 for Native Apps"
Could you please add to Readme, does the sample follows [RFC 8252
OAuth 2.0 for Native Apps ](https://www.rfc-editor.org/rfc/rfc8252.txt)?
“ For authorizing users in native apps, the best current practice is to perform the OAuth authorization request in an external user agent (typically the browser) rather than an embedded user agent (such as one implemented with web-views).”

The same suggestion

[2021-07-22 22:22] ameyapat commented on #56
@mfcollins3 Could you try again? We had the reply url in portal for our sample app misconfigured. It should be fixed now, thanks for noticing the issue.

[2021-07-22 22:22] #56 closed

[2021-07-22 23:20] ameyapat commented on #55
@tommycbarker Can you retry? We had misconfigured the reply url for this sample app client id in the portal. It should be fixed now

[2021-07-23 09:33] codes-harikrishnan commented on #55
@ameyapat I am also getting the similar error and apparently it hasn't been fixed. Instead of 'https://fabrikamb2c.onmicrosoft.com/helloapi/demo.read' I have my own valid URL. Could you please help?

[2021-07-23 16:27] ameyapat commented on #55
Hi @codes-harikrishnan, Did you also get -51118 error. That error indicates that redirect scheme is not registered. Are you using the client Id as specified [here](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/blob/8ef3a62abf2b4f5257bdc7242a63d9f4eb3970b6/MSALiOSB2C/ViewController.swift#L38) or did you register your own app in azure portal using these [instructions](h

[2021-07-23 17:10] codes-harikrishnan commented on #55
TID=2609628 MSAL 1.1.19 iOS Sim 14.5 [2021-07-23 17:06:22] Default app's access group: "Masked(not-null)".
TID=2609628 MSAL 1.1.19 iOS Sim 14.5 [2021-07-23 17:06:22] Using "Masked(not-null)" Team ID.
TID=2609628 MSAL 1.1.19 iOS Sim 14.5 [2021-07-23 17:06:22] Init MSIDKeychainTokenCache with keychainGroup: Masked(not-null)
TID=2609628 MSAL 1.1.19 iOS Sim 14.5 [2021-07-23 17:06:24] Requiring default

[2021-07-23 18:25] ameyapat commented on #55
@codes-harikrishnan Can you make sure redirect uri for your app registration for mobile application is in the format msal<client id>://auth according to https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal#app-registration. Also could you make sure that redirect URI is check marked in the portal for your app registration?

[2021-08-05 23:14] ameyapat commented on #57
Hi @MNF, sorry for the delayed response.

 We do not use any custom designed embedded user agent. According to recommendations in Section B.1 of that RFC-8252, you can configure your app to use SFSafariViewController. You can use any of the Apple provided web views.
You can configure that by defining webViewType for MSALWebViewParameters :
https://azuread.github.io/microsoft-authentication-library

[2021-08-12 10:12] MatteCarra commented on #47
I have experimented with this a little bit.
I thought I found  solution with both the browser and ms authenticator app without even touching UIKit, but it has some problems.
As you may know to support the ms authenticator app you need to have either an AppDelegate or SceneDelegate to handle the open url.
You can have an AppDelegate with swiftui (@UIApplicationDelegateAdaptor in the main App) but t

[2021-08-15 16:24] alschmut commented on #47
I was trying to solve a similar issue the other day, creating a SwiftUI based app from another MS Sample Project https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc.

I uploaded my SwiftUI sample here https://github.com/alschmut/MSALSwiftUI. From what I have tested until now, it seems to work fine with the MS Authenticator App. Feel free to have a look :)

[2021-08-29 12:11] codes-harikrishnan commented on #55
Hi,

I had resolved that issue and it was working fine.I was able to retrieve access token. But all of a sudden it is not returning access token. The login pop-up is opening up and rendering correcting and I am able to sign in as well. But after sign-in it is not returning access token. Is there any update happened in the framework or backend side? Could you please help me to find out the issue? I

[2021-08-31 04:46] codes-harikrishnan commented on #55
@ameyapat Could you please help me to resolve this issue? We are badly in need of this to be resolved.

[2021-08-31 20:37] ameyapat commented on #55
@codes-harikrishnan Nothing should have changed and if you are using the same MSAL version when it worked for you the issue might not be on the client side. What are the scopes that you are requesting? Can you make sure that scopes you are requesting has permission for that user in API permissions in Azure portal?

[2021-09-09 22:17] ameyapat commented on #57
Closing issue

[2021-09-09 22:17] #57 closed

[2021-10-25 05:00] diwakar26 opened #58 "Not able to retrieve silent access token using reset password flow in iOS"
we're not able to retrieve silent access token using reset password flow and in our app, we are using 3 authorities as mentioned below code. we're able to retrieve silently access token when we use signup/sign Inflow but not get silent access token when we use reset password flow but it's working in android

I have set up my context object as mentioned below

do {
            let signInSignupAutho

[2021-11-04 22:06] ameyapat commented on #55
Closing

[2021-11-04 22:06] #55 closed

[2021-11-08 15:43] diwakar26 commented on #58
Any update on above request

[2021-11-08 18:30] NerevarineRule commented on #58
Could you please provide the MSAL verbose log captured while having issues with the reset password flow?

[2021-11-08 18:45] NerevarineRule commented on #58
In the meantime, could you also take a look at this https://stackoverflow.com/questions/41497158/azure-ad-b2c-self-service-password-reset-link-doesnt-work thread and see if it's applicable to your scenario?

[code]

[2021-12-09 23:28] mipetriu commented on #58
@diwakar26 Since there has been no activity on this post for some time, is it ok to close?

[2022-01-06 21:23] mipetriu commented on #58
@diwakar26 I'll close this issue since there has been no activity on it for some time. Please re-open if more investigation is needed. Thanks!

[2022-01-06 21:23] #58 closed

[2022-01-12 11:58] ljunquera commented on #47
+1 for this request. I did see a post in StackOverflow with a similar request and response, but they all seem to be working around the problem.

https://stackoverflow.com/questions/70654875/im-trying-to-convert-a-msal-login-from-uikit-to-swiftui-and-not-sure-how-i-can

[2022-01-12 12:03] arbyruns commented on #47
That's me! Here's the [project](https://github.com/arbyruns/SwiftUI-MSALSample).

[2022-01-12 13:52] ljunquera commented on #47
@arbyruns, have you looked at the @alschmut example which encapsulates all the authentication? I did this all in Android and am now trying to make it work in Swift but am a beginner.

I see the call in yours:
`let webViewParameters = MSALWebviewParameters(authPresentationViewController: self)`

And in @alschmut's example:
`self.webViewParamaters = MSALWebviewParameters(authPresentationViewControll

[2022-01-14 05:48] tomschulz commented on #27
"w/.NET and iOS we use app center and are able to pull users from our lab and automate the sign-in process. Are you looking to do something like that?"

I am looking for something like that. About to implement MSAL and all my tests are about to break.

[2022-01-21 11:25] ljunquera commented on #47
Maybe help upvote this :

https://feedback.azure.com/d365community/idea/ed66e827-c725-ec11-b6e6-000d3a4f0789

[2022-01-21 16:25] ljunquera commented on #47
Since this request has been outstanding for so long, I'm concerned about the level of support moving forward. Maybe I should consider generic oAuth Swift options as B2C supports oAuth2, like https://github.com/OAuthSwift/OAuthSwift and https://github.com/p2/OAuth2

[2022-01-23 16:06] ljunquera opened #59 "Safari cannot open the page because the address is invalid"
I downloaded the project, configured it according to [the documentation](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal#configure-your-application). All the values were copied from Azure and match the pattern in the example values.

Added a platform configuration in Azure:
![image](https://user-images.githubusercontent.com/4500512/150687088-477ab8dc-2290-4376-b5c7-3bcd

[2022-01-24 01:26] ljunquera opened #60 "Instructions for App Registration take you to a link for registering web applications, is that correct?"
The instructions for [App Registration](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal#app-registration) say to "Follow [instructions here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=app-reg-ga)" which take you to a page to "Tutorial: Register a web application in Azure Active Directory B2C". If I'm creating an iOS a

[2022-02-02 07:45] ishtiaque23 commented on #60
Recently I faced the same issue and was a bit confused by this.

I am also confused why I need the web application registration when I am trying to integrate AD B2C authentication in the mobile. I completely understand the need of the web app later when I will make API call to my backend services.

I found this Link most informative: https://docs.microsoft.com/en-us/azure/active-directory-b2c/conf

[2022-02-03 23:33] antrix1989 commented on #59
hi @ljunquera, what is the value of kAuthority?

[2022-02-11 00:49] juan-arias commented on #59
@ljunquera, please also provide your `URL Schemes` section in the `info.plist` file.

[2022-03-10 23:29] kaisong1990 commented on #59
Closing the issue due to no response from customer

[2022-03-10 23:29] #59 closed

[2022-04-22 23:35] antrix1989 commented on #60
Fixed the link, now it points to https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-native-application?tabs=app-reg-ga

[2022-04-22 23:35] #60 closed

[2022-05-15 19:18] ljunquera commented on #47
@antrix1989, how are we doing with this?

[2022-05-19 22:24] antrix1989 commented on #47
Closed as duplicate.

[2022-05-19 22:24] #47 closed

[2022-06-30 15:10] electricpocket opened #61 "Pod install in M1 Mac"
pod install needs to be run in a Rosetta terminal window.
see https://osxdaily.com/2020/11/18/how-run-homebrew-x86-terminal-apple-silicon-mac/

[2022-07-21 21:15] juan-arias commented on #61
Thank you @electricpocket, we will be updating the documentation.

[2022-07-26 06:04] reddy4 opened #63 "acquireTokenSilent method returns every time different token, even before session expire"
I'm trying to integrating MSAL into iOS Application using swift code, Followed below steps link:
https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-ios#register-your-application
acquireTokenSilent method returns  every time different token, even before session expire, as per my understand silent token should new token returns only when session got expired.

Below my code s

[2022-07-26 07:18] reddy4 commented on #63
Any Help on above issue?

[2022-07-28 22:24] mipetriu commented on #63
@reddy4 Do you mind providing a little more info: what issue are you seeing when running the sample?

And just to confirm, you're saying that you receive a different access token before the access token is expected to expire?

If you could provide some MSAL logs from your testing, that could help me take a closer look. Thank you!

[2022-08-01 19:40] juan-arias commented on #61
Documentation has been updated.

[2022-08-01 19:40] #61 closed

[2022-08-05 05:31] reddy4 commented on #63
Step-1: Integrated MSAL into iOS application using cocoa-pods (MSAL version: 1.2.2) latest version.
Step-2: On app launch, initial setup is done as mentioned above **On First time loading**
Step-3: Calling **loadCurrentAccount**
below method first it will check weather User already logged-in (ADB2C Login)OR NOT, If already logged-in get current account and pass through completion handler Otherwise

[2022-08-05 05:37] reddy4 opened #64 "How to implements Keep me signed in functionality in iOS Swift?"

[2022-08-05 05:41] reddy4 commented on #63
At time only one method will executed based on user already  logged-in. if already logged-in **acquireTokenSilently** method will executes, if not **acquireTokenInteractively** method will executes.
Every time getting different token, even before session expires.

[2022-08-11 22:29] jasoncoolmax commented on #64
Let me know if this helps:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-user-flow#enable-keep-me-signed-in-kmsi

[2022-08-18 07:40] reddy4 commented on #64
Thanks ::) jason
I went through above link, it is all about how to configured in Azure and how to develop custom policies.
My requirement is how to implements in iOS Swift Programming Language.

[2022-08-22 20:09] antrix1989 commented on #64
We don't provide API to turn on KMSI programmaticaly.

[2022-08-22 20:16] antrix1989 commented on #63
@reddy4 could you please capture MSAL logs and send them to sedemche@microsoft.com?

[2022-08-23 09:56] reddy4 commented on #64
Thanks:)) antrix

If not providing API to turn on/of KMSI programmatically? then why allowing us to display option **Keep me signed in** on UI with check box?
Please refer attached screen shot:
Please clarify below points if possible:
1. We should configure KMSI in Azure portal itself as per microsoft document, but my question is at client side (iOS Mobile app) how to check weather KMSI enabled or

[2022-08-24 06:39] DHFfighting opened #65 "Safari cannot open the page because the address is invalid"
When I use some keys such as ktenantname, kautrityhostname and kclientid, when I click authorize to log in, Safari browser pops up and prompts Safari can not open the page because the address is invalid I don't know where there is a problem. I hope to get help. Thank you
![Simulator Screen Shot - iPhone 13 mini - 2022-08-24 at 16 50 29](https://user-images.githubusercontent.com/18415689/186374990-

[2022-08-24 08:38] DHFfighting commented on #59
I have the same issue, how to fix it ?

[2022-08-24 08:43] DHFfighting commented on #59
Hello, I have the same issue, how to fix it, can you contact me via email?, my email is dhf308618560@outlook.com  thanks

[2022-08-24 11:52] reddy4 commented on #64
Any help from any one Thanks!

[2022-08-25 01:31] #65 closed, assigned to nobody

[2022-08-25 05:14] reddy4 commented on #64
@antrix1989  Any help for above issue?

[2022-08-26 05:09] reddy4 opened #66 "How to check ADB2C authenticated or not inside the application on button event?"
I Integrated MSAL library into my iOS application, and implemented ADB2C authentication, once authentication success then navigate inside my application and perform all activities. where i work around 5mins then i stop my application. When user open application second time (after 5-10mins) on button tapping, first need to check ADB2C authentication happened or not?
Then if not authenticated need t

[2022-09-02 17:10] juan-arias commented on #66
Hi @reddy4, you can call acquire token silent, which will let you know if the login page needs to be displayed or not.

Acquire silent token will return a token without showing a UI to the user, the library will try to get it from its local cache if needed, otherwise it will refresh it from the server.

[2022-09-07 05:14] reddy4 commented on #66
Hi @juan-arias  Thank you so much :::))
I will try same and i will let you know, hoping it will work :::))

[2022-09-15 13:48] mruvim opened #67 "Add support for Swift Package Manager"
Please add Swift Package Manger support to `MSALiOSB2C` library.

[2022-09-15 21:50] mipetriu commented on #67
Hello @mruvim, the MSAL iOS B2C sample app uses the MSAL library, which should have Swift Package Manager support. Are you able to get MSAL working with Swift Package Manager?

[2022-09-15 22:47] ameyapat commented on #67
instructions for adding MSAL swift package : https://github.com/AzureAD/microsoft-authentication-library-for-objc#using-swift-packages

[2022-09-19 12:46] mruvim commented on #67
Great thank you, closing ticket

[2022-09-19 12:46] #67 closed, assigned to nobody

[2022-10-11 22:34] #66 closed, assigned to juan-arias

[2022-11-03 21:38] mipetriu commented on #64
Hi @reddy4, I apologize for the silence here. In the example you mentioned above, when you launch your native app you should check if MSAL can acquire a token silently. This will check if a cached token is currently available - KMSI has no effect on this.

If a silent token acquisition is not available, then you could acquire a token interactively. This will open a browser webview with your login

[2022-11-03 22:39] mipetriu commented on #63
@reddy4 Closing issue due to no response. If you'd like to further discuss the issue, please send logs to identity-apple-eng@microsoft.com and re-open the issue. Thanks!

[2022-11-03 22:39] #63 closed

[2022-11-14 19:24] mipetriu commented on #64
Hi @reddy4, I will close this issue due to inactivity, but please feel free to re-open if you have any more questions. Thank you!

[2022-11-14 19:24] #64 closed, assigned to jasoncoolmax

[2022-11-18 11:38] bw-flagship opened #68 "Sample is not working"
Branch: vNext
When I clone the sample and try to run it with the configuration you provided, it does not work.
Please check the demo and the logs. If you need any further information, just ask. Thanks!

**Tech:**
iPhone 7
iOS 15
Safari

**Demo:**
https://user-images.githubusercontent.com/89379862/202696738-b663f4ec-205e-416f-be6a-e30f2a0495f4.mp4

<details>
  <summary>Logs</summary>

[code]
</deta

[2022-11-30 20:15] ghost commented on #47
Status? Can't find duplicate nor any examples other than student pet projects